.txt{
    color: green;
    font-size: 22pt;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}